@use "../base/" as *;

.footer {
  position: relative;

  overflow: hidden;
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;

  min-height: calc(min(5rem, 80px));
  padding: 0;

  color: $color-white;

  background-color: #3d4050;

  @include md {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 1rem;
  }

  @include xxl {
    flex-direction: row;
    padding: 0;
  }

  @include xxl {
    padding: 0 clamp(1rem, 16vw, 23.5rem);
  }

  &__copyright {
    order: 10;
    margin-bottom: 1rem;
    text-align: center;

    @include md {
      width: 100%;
    }

    @include xxl {
      order: 1;
      width: auto;
      margin-bottom: 0;
    }
  }

  .first-divider {
    flex: 0 0 1px;
    align-self: center;
    order: 9;

    width: 95vw;
    height: 1px;

    opacity: 1;
    background-color: $color-white;

    @include md {
      flex: 0 0 100%;
    }

    @include xxl {
      flex: 0 0 1px;
      order: 2;
      width: 1px;
      height: 1.1rem;
    }
  }

  .second-divider {
    flex: 0 0 1px;
    align-self: center;

    width: 95vw;
    height: 1px;

    opacity: 1;
    background-color: $color-white;

    @include md {
      width: 1px;
      height: 2.1rem;
    }

    @include xxl {
      order: 4;
      width: 1px;
      height: 1.1rem;
    }
  }

  &__payments {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem clamp(0.5rem, 3vw, 2.5rem);
    align-items: center;
    justify-content: space-evenly;

    min-width: 320px;
    margin-top: 1rem;

    @include md {
      margin-top: 0;
    }

    @include xxl {
      order: 3;
      margin-top: 0;
    }
  }

  &__payment {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__payment_icon {
    pointer-events: none;
    user-select: none;

    width: 1.2rem;
    height: 1.2rem;
    margin-right: 0.5rem;

    object-fit: contain;
  }

  &__payment_text {
    white-space: nowrap;
  }

  &__contacts {
    display: flex;
    column-gap: clamp(1.2rem, 3vw, 2.5rem);
    align-items: center;
    justify-content: space-evenly;

    min-width: 260px;

    @include xxl {
      order: 5;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;

    color: $color-white;
    text-decoration: none;
    white-space: nowrap;

    &:visited {
      color: $color-white;
    }

    &:hover,
    &:active {
      color: #42a9ed;
    }
  }

  &__link-icon {
    flex: 0 0 1.1rem;

    width: 1.1rem;
    height: 1.1rem;
    margin-right: 0.5rem;

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &__link-icon_mail {
    background-image: url("../img/icon-mail-blue.webp");
  }

  &__link-icon_vk {
    background-image: url("../img/icon-vk.webp");
  }
}

a[href^="mailto"] {
  color: $color-white !important;
  text-decoration: none !important;

  &:visited {
    color: $color-white !important;
  }

  &:hover,
  &:active {
    color: #42a9ed !important;
  }
}
