@use "../base/" as *;

// Fixed header
.header {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;

  overflow: hidden;
  display: block;

  background: rgb(16 16 29 / 90%);

  &__burger-menu {
    cursor: pointer;

    position: relative;

    display: block;

    width: 2.6rem;
    height: 2.6rem;

    background-image: url("../img/icon-burger-menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    @include md {
      display: none;
    }
  }

  &__burger-overlay {
    pointer-events: none;

    position: fixed;
    z-index: 120;
    inset: 0;

    opacity: 0;
    background: rgb(0 0 0 / 6%);

    @include md {
      display: none;
    }

    &.active {
      pointer-events: all;
      opacity: 1;
    }
  }

  &__inner {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 6.25rem;
    padding: 0 2rem;

    @include lg {
      justify-content: space-evenly;
      padding: 0;
    }

    @include xxl {
      justify-content: space-between;
      padding: 0 23.4rem;
    }
  }

  &__logo {
    position: relative;

    display: block;

    font-size: 1.75rem;
    font-weight: 800;
    line-height: 2rem;
    color: $color-white;
    text-decoration: none;
    text-transform: uppercase;

    &_accent {
      color: #42a9ed;
    }
  }
}

.nav {
  position: fixed;
  z-index: 200;
  top: 0;
  right: 0;
  transform: translateX(100%);

  display: flex;
  align-items: center;
  justify-content: center;

  width: min(80vw, 20rem);
  height: 100vh;

  background: rgb(16 16 29 / 97%);

  transition: transform 0.3s ease;

  @include md {
    position: static;
    transform: none;

    display: block;

    width: auto;
    height: auto;

    background: transparent;
  }

  &_open {
    transform: translateX(0);
  }

  &__list {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.2;
    color: $color-white;
    text-align: center;
    text-transform: uppercase;
    list-style: none;

    @include md {
      flex-direction: row;
      gap: clamp(1rem, 3vw, 3.75rem);
      align-items: center;
      justify-content: space-between;

      font-size: 0.875rem;
    }
  }

  &__item {
    flex-shrink: 0;
    transition: color 0.3s, transform 0.3s;

    &:active {
      transform: scale(1.1);
      color: $color-accent;
    }

    &:focus-visible {
      border-radius: 2rem;
      outline: 0.1875rem solid $color-accent;
      outline-offset: 0.125rem;
    }
  }

  &__link {
    color: $color-white;
    text-decoration: none;

    &:visited {
      color: $color-white;
    }

    &:hover {
      color: #43abf0;
    }

    &:active {
      color: #3892cd;
    }
  }
}
