// Fixed header
.header {
  position: fixed;
  display: block;

  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: rgba(16, 16, 29, 0.9);

  &__inner {
    position: relative;
    display: flex;

    align-items: center;
    justify-content: space-evenly;
    height: 6.25rem;
  }

  &__logo {
    position: relative;
    display: block;

    text-decoration: none;
    font-weight: 800;
    font-size: 1.75rem;
    line-height: 2rem;
    text-transform: uppercase;
    color: #fff;

    &_accent {
      color: #42a9ed;
    }
  }
}
.nav {
  &__list {
    position: relative;
    display: flex;

    list-style: none;
    align-items: center;
    justify-content: space-between;

    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.8125rem;
    line-height: 1rem;
    gap: clamp(1rem, 3vw, 3.75rem);
  }

  &__item {
    position: relative;
    display: block;

    flex-shrink: 0;
    color: #fff;
  }

  &__link {
    &:visited {
      color: #fff;
    }
    &:hover {
      color: #43abf0;
    }
    &:active {
      color: #3892cd;
    }
  }
}
