@use "../base/" as *;

main {
  overflow: hidden;

  position: relative;
  display: block;

  background-color: #272733;
}

.order {
  position: relative;
  display: block;

  padding-top: 3.5rem;
  padding-bottom: 3.4rem;

  width: 100%;
  background-image: url("../img/background.webp");
  background-size: 1050%;
  background-repeat: no-repeat;
  background-position: center 10%;

  text-align: center;

  @include xs {
    background-size: 750%;
  }

  @include md {
    background-size: 450%;
  }

  @include lg {
    background-size: 400%;
    padding-bottom: 5.4rem;
  }

  @include xl {
    background-size: 350%;
  }

  @include xxl {
    padding-top: 7.5rem;
    padding-bottom: 9.4rem;
    background-size: cover;
  }

  &__title {
    font-weight: 800;
    font-size: 2.25rem;
    line-height: 2.6875rem;
    text-transform: uppercase;

    &_accent {
      color: $color-accent;
    }
  }

  &__subtitle {
    margin-top: 1.875rem;
  }
}
