@use "../base/" as *;

main {
  position: relative;
  display: block;

  background-color: #272733;
}

.order {
  position: relative;
  display: block;

  padding-top: 7.5rem;
  padding-bottom: 9.4rem;

  width: 100%;
  background-image: url("../img/background.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 10%;

  text-align: center;

  &__title {
    font-weight: 800;
    font-size: 2.25rem;
    line-height: 2.6875rem;
    text-transform: uppercase;

    &_accent {
      color: $color-accent;
    }
  }

  &__subtitle {
    margin-top: 1.875rem;
  }
}
