@use "../base/" as *;

.button {
  position: relative;
  display: flex;

  cursor: pointer;

  width: 100%;
  max-width: 90vw;

  margin-left: auto;
  margin-right: auto;

  justify-content: center;
  align-items: center;
  padding: 0.9375rem 0.625rem;

  border-radius: 0.25rem;

  @include xs {
    min-width: 50%;
    width: 100%;
    max-width: 30rem;
  }

  @include xl {
    margin-top: 0;
    margin-right: 0;
    min-width: 0;
    width: 100%;
    max-width: 34rem;
    margin-left: clamp(2rem, 3.3vw, 5rem);
  }

  @include xxl {
    min-width: 7.7rem;
    max-width: 11.56rem;
    margin-left: 0;

    margin-bottom: 4rem;
  }

  &_primary {
    color: $color-btn-primary-text-default;
    background-color: $color-btn-primary-bg-default;
    border: 1px solid $color-white;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: $color-btn-primary-bg-hover;
    }
    &:active {
      background-color: $color-btn-primary-bg-active;
    }
  }

  &_secondary {
    color: $color-btn-secondary-text-default;
    background-color: $color-btn-secondary-bg-default;
    border: 1px solid #6f6d7b;

    margin-top: 0.5rem;
    margin-bottom: 4rem;

    @include xxl {
      margin-top: 0;
    }

    &:hover {
      background-color: $color-btn-secondary-bg-hover;
    }
    &:active {
      background-color: $color-btn-secondary-bg-active;
    }
  }
}

.order-form {
  &__file-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    height: 3rem;

    background-color: transparent;

    font-weight: 600;
    font-size: 0.9rem;
    line-height: 1.1rem;
    text-transform: uppercase;
    color: $color-black;

    cursor: pointer;
    transition: background-color 0.2s ease, box-shadow 0.2s ease;

    .order-form__field_file:focus-within & {
      box-shadow: 0 0 0 2px #42a9ed;
    }
  }
}

#submit_button {
  position: relative;
  display: block;

  width: 100%;
  min-width: fit-content;
}
