@use "../base/" as *;

.button {
  cursor: pointer;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: 90vw;
  margin-right: auto;
  margin-left: auto;
  padding: 0.9375rem 0.625rem;
  border-radius: 0.25rem;

  @include xs {
    width: 100%;
    min-width: 50%;
    max-width: 30rem;
  }

  @include xl {
    width: 100%;
    min-width: 0;
    max-width: 34rem;
    margin-top: 0;
    margin-right: 0;
    margin-left: clamp(2rem, 3.3vw, 5rem);
  }

  @include xxl {
    min-width: 7.7rem;
    max-width: 11.56rem;
    margin-bottom: 4rem;
    margin-left: 0;
  }

  &_primary {
    border: 1px solid $color-white;
    color: $color-btn-primary-text-default;
    background-color: $color-btn-primary-bg-default;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: $color-btn-primary-bg-hover;
    }

    &:active {
      background-color: $color-btn-primary-bg-active;
    }
  }

  &_secondary {
    margin-top: 0.5rem;
    margin-bottom: 4rem;
    border: 1px solid #6f6d7b;

    color: $color-btn-secondary-text-default;

    background-color: $color-btn-secondary-bg-default;

    @include xxl {
      margin-top: 0;
    }

    &:hover {
      background-color: $color-btn-secondary-bg-hover;
    }

    &:active {
      background-color: $color-btn-secondary-bg-active;
    }
  }
}

.order-form {
  &__file-button {
    cursor: pointer;

    display: flex;
    gap: 0.7rem;
    align-items: center;
    justify-content: center;

    font-size: 0.9rem;
    font-weight: 600;
    color: $color-black;
    text-transform: uppercase;

    background-color: transparent;

    transition: background-color 0.2s ease, box-shadow 0.2s ease;

    .order-form__field_file:focus-within & {
      box-shadow: 0 0 0 3px #42a9ed;
    }
  }
}

#submit_button {
  position: relative;
  display: block;
  width: 100%;
  min-width: fit-content;
}
