@use "../base/" as *;

.hero {
  position: relative;
  display: block;

  padding-top: 6.25rem;
  padding-bottom: 12.5rem;
  padding-left: 23.4rem;

  width: 100%;
  background-image: url("../img/hero-photo.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;

  &__title {
    position: relative;
    display: block;

    margin-top: 6.4rem;

    max-width: 48rem;
    font-size: 3rem;
    line-height: 3.625rem;
    text-transform: uppercase;
    color: $color-black;

    &_accent {
      color: #3e9cdc;
    }
  }

  &__text {
    position: relative;
    display: block;

    margin-top: 5rem;

    color: #000;

    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.5rem;
  }

  &__list {
    position: relative;
    display: flex;

    flex-direction: column;
    gap: 0.3125rem;

    margin-top: 0.625rem;
  }

  &__list .list__item {
    position: relative;
    display: block;
    padding-left: 1.5rem;

    color: #000;

    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.5rem;

    &::before {
      content: "-";
      position: absolute;
      left: 0.5rem;
      top: 0;
    }
  }

  &__actions {
    position: relative;
    display: flex;

    margin-top: 5rem;

    gap: 1.875rem;
  }
}
