@use "../base/" as *;

.hero {
  position: relative;

  display: block;

  width: 100%;
  padding-top: 6.25rem;

  background-image: url("../img/hero-photo.webp");
  background-repeat: no-repeat;
  background-position: -30px 0;
  background-size: 480%;

  @include sm {
    background-position: -100px 0;
    background-size: 200%;
  }

  @include md {
    background-position: -100px 0;
    background-size: 170%;
  }

  @include lg {
    background-position: 0 0;
    background-size: 150%;
  }

  @include xl {
    background-position: 0 0;
    background-size: 130%;
  }

  @include xxl {
    padding-bottom: 12.5rem;
    padding-left: 23.4rem;
    background-position: top center;
    background-size: cover;
  }

  &__title {
    position: relative;

    display: block;

    max-width: 48rem;
    margin-top: 3rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;

    font-size: 2rem;
    line-height: 2.625rem;
    color: $color-black;
    text-transform: uppercase;

    @include xs {
      max-width: 32rem;
      margin-right: auto;
      margin-left: auto;
      text-align: center;
    }

    @include xl {
      max-width: 52rem;
      margin-top: 3.4rem;
      margin-left: clamp(3rem, 5.5vw, 5rem);

      font-size: 3rem;
      line-height: 3.625rem;
      text-align: left;
    }

    @include xxl {
      margin-top: 6.4rem;
      margin-left: 0;
      font-size: 3rem;
      line-height: 3.625rem;
    }

    &_accent {
      color: $color-accent;
    }
  }

  &__perks {
    position: relative;
    display: block;

    @include xs {
      width: max-content;
      margin: auto;
    }

    @include xl {
      margin-left: clamp(3rem, 5.5vw, 5rem);
    }

    @include xxl {
      margin-left: 0;
    }
  }

  &__text {
    position: relative;

    display: block;

    margin-top: 3rem;
    margin-left: 0.5rem;

    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.5rem;
    color: $color-black;

    @include xxl {
      margin-top: 5rem;
    }
  }

  &__list {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 0.3125rem;

    margin-top: 0.625rem;
    margin-left: 0.5rem;
  }

  &__list .list__item {
    position: relative;

    display: block;

    padding-left: 1.5rem;

    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.5rem;
    color: $color-black;

    &::before {
      content: "-";
      position: absolute;
      top: 0;
      left: 0.5rem;
    }
  }

  &__actions {
    position: relative;

    display: block;
    display: flex;
    flex-direction: column;

    width: 100%;
    margin-top: 5rem;

    @include xl {
      margin-left: 4rem;
    }

    @include xxl {
      flex-direction: row;
      gap: 1.875rem;
      margin-left: 0;
    }
  }
}
