@use "../base/" as *;

.order-form {
  width: 100%;
  margin-top: 3rem;
  padding: 0 0.5rem;

  @include lg {
    padding: 0 3rem;
  }

  &__row {
    display: flex;
    flex-flow: column wrap;
    gap: 1.8rem;
    place-content: center;
    justify-content: center;

    margin-top: 1rem;

    @include md {
      flex-direction: row;
      margin-top: 3rem;
      padding: 0;
    }

    & > * {
      width: 100%;
      max-width: 40rem;

      @include md {
        flex: 0 0 calc((100% - 2 * 1.8rem) / 3);
        max-width: calc((100% - 2 * 1.8rem) / 3);
      }
    }

    &_range {
      display: grid;
      grid-template-columns: repeat(1, minmax(0, 1fr));
      row-gap: 1.8rem;
      width: 100%;

      @include md {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        column-gap: 1.8rem;
      }
    }
  }

  &__field {
    position: relative;
    display: block;
  }

  &__field_sys-type {
    position: relative;
  }

  &__label {
    position: absolute;

    overflow: hidden;

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
  }

  &__control {
    width: 100%;
    height: 3rem;
    padding: 0 0.7rem;
    border: none;
    border-radius: 0.18rem;

    font-size: 1.125rem;
    line-height: 1.2rem;
    color: #272733;

    background-color: rgb(255 255 255 / 85%);
    outline: none;
    box-shadow: 0 0 0 1px rgb(255 255 255 / 20%);

    transition: box-shadow 0.2s ease, background-color 0.2s ease,
      color 0.2s ease;

    &::placeholder {
      color: rgb(39 39 51 / 70%);
    }

    &:hover {
      box-shadow: 0 0.4px 0 1px #42a9ed;
    }

    &:focus-visible {
      background-color: $color-white;
      box-shadow: 0 0 0 3px #42a9ed;
    }

    &_select {
      cursor: pointer;

      display: flex;
      align-items: center;
      justify-content: flex-start;

      padding-right: 2.6rem;

      text-align: left;

      appearance: none;
    }

    &_arrow {
      pointer-events: none;

      position: absolute;
      top: 50%;
      right: 1rem;
      transform: translateY(-50%) rotate(0deg);

      display: block;

      width: 0.7rem;

      color: #3d4050;

      transition: transform 0.25s ease, color 0.25s ease;
    }

    &_range {
      cursor: pointer;

      position: relative;

      display: block;
      flex: 1 1 auto;

      width: 100%;
      height: 0.5rem;
      padding: 0;
      border-radius: 0.2rem;

      appearance: none;
      background: #dcdcdc;
      background: transparent;
      box-shadow: none;

      &::-webkit-slider-runnable-track {
        height: 0.4rem;
        border-radius: 0.3rem;
        background-color: rgb(255 255 255 / 70%);
        transition: background-color 0.2s ease;

        &:hover {
          background-color: $color-white;
        }
      }

      &::-moz-range-track {
        height: 0.4rem;
        border-radius: 0.3rem;
        background: #dcdcdc;
      }

      &::-webkit-slider-thumb {
        cursor: pointer;

        width: 1.1rem;
        height: 1.1rem;
        margin-top: -0.4rem;
        border: 3px solid #286690;
        border-radius: 50%;

        appearance: none;
        background: #42a9ed;

        transition: box-shadow 0.2s ease;
      }

      &::-moz-range-thumb {
        cursor: pointer;

        width: 1.1rem;
        height: 1.1rem;
        border: 3px solid #286690;
        border-radius: 50%;

        background: #42a9ed;

        transition: box-shadow 0.2s ease;
      }

      &:hover::-webkit-slider-thumb {
        box-shadow: 0 0 0 3px rgb(66 169 237 / 35%);
      }

      &:hover::-moz-range-thumb {
        box-shadow: 0 0 0 3px rgb(66 169 237 / 35%);
      }
    }

    &_file {
      display: none;
    }
  }

  &__select {
    position: relative;
    display: block;
  }

  &__select-dropdown {
    position: absolute;
    z-index: 20;
    right: 0;
    left: 0;

    overflow: hidden;

    padding: 0;
    border-radius: 0.18rem;

    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.2rem;
    text-align: left;

    background-color: #272733;
    box-shadow: 0 0.7rem 1.8rem rgb(0 0 0 / 60%);
  }

  &__select-header {
    display: none;
  }

  &__select-list {
    scrollbar-color: $color-accent #3d4050;
    scrollbar-width: thin;

    overflow-y: auto;

    max-height: 10rem;
    margin: 0;
    padding: 0.125rem 0;

    list-style: none;

    &::-webkit-scrollbar {
      width: 0.5rem;
    }

    &::-webkit-scrollbar-track {
      border-radius: 0.2rem;
      background: #3d4050;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 2rem;
      background: $color-accent;
    }
  }

  &__select-option {
    cursor: pointer;

    padding: 0.44rem 1rem;

    font-size: 1.2rem;
    color: $color-white;
    white-space: nowrap;

    transition: background-color 0.15s ease, color 0.15s ease;

    &:hover {
      color: $color-accent;
      background-color: transparent;
    }

    &.is-selected {
      color: $color-accent;
    }
  }

  &__select_open {
    .order-form__control_select {
      color: $color-white;
      background-color: rgb(61 64 80 / 85%);
      box-shadow: 0 0 0 1px #3d4050;
    }

    .order-form__control_arrow {
      transform: translateY(-50%) rotate(180deg);
      color: $color-white;
    }
  }

  &__range {
    position: relative;

    display: flex;
    grid-column: span 2;
    flex-direction: column;
    gap: 0.9rem;

    margin-top: 1.875rem;
    margin-bottom: 0.625rem;

    @include lg {
      margin-bottom: 0;
    }

    &-value {
      position: absolute;
      right: 0;
      bottom: -1.2rem;
      min-width: 2rem;

      @include lg {
        top: 0;
        right: 0;
      }
    }
  }

  &__range-label {
    align-self: start;
    font-size: 0.9rem;
    line-height: 1.4;
    color: $color-white;
  }

  &__range-track {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
  }

  &__field_file {
    cursor: pointer;

    position: relative;

    display: block;

    width: 100%;
    max-width: 40rem;
    height: 3rem;
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;
    padding: 0 1rem;
    border: 0.125rem solid $color-white;
    border-radius: 0.185rem;

    line-height: 2.75rem;
    text-align: center;

    background-color: rgb(255 255 255 / 85%);
    outline: none;

    transition: border 0.2s ease, background-color 0.2s ease;

    &:hover,
    &:focus,
    &:focus-visible,
    &:focus-within {
      border: 0.125rem solid $color-accent;
      background-color: $color-btn-secondary-bg-hover;
    }

    &:active {
      background-color: $color-btn-secondary-bg-active;
    }
  }

  &__file-icon {
    flex: 0 0 1.2rem;
    width: 1.1rem;
    height: 1.2rem;
    background: url("../img/icon-clipboard.webp") center / contain no-repeat;
  }

  & .selected {
    background: url("../img/icon-check.webp") center / contain no-repeat;
  }

  &__file-text {
    overflow: hidden;
    display: block;

    min-width: 0;

    text-overflow: ellipsis;
    white-space: nowrap;
  }

  @include xxl {
    padding: 0 25rem;
  }
}
