.steps {
  position: relative;
  display: block;
  margin-top: 5rem;

  &__list {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    gap: clamp(1rem, 3vw, 8.625rem);

    width: max-content;
    margin-inline: auto;

    &::before {
      content: "";
      position: absolute;
      top: 3.125rem;

      left: calc(3.125rem + 1.5rem);
      right: calc(3.125rem + 1.5rem);

      height: 6px;
      background-image: radial-gradient(circle, #cfcfcf 3px, transparent 3px);
      background-size: 20px 6px;
      background-repeat: repeat-x;
      background-position: center;

      pointer-events: none;
      z-index: 0;
    }
  }

  &__item {
    position: relative;
    display: block;
    max-width: 11.8rem;
    min-width: 7rem;
    z-index: 1;
  }

  &__visual {
    display: block;
    position: relative;

    pointer-events: none;
    user-select: none;
  }

  &__circle {
    display: block;
    position: relative;

    margin: auto;

    width: 6.25rem;
    height: 6.25rem;
  }

  &__icon {
    display: block;
    position: absolute;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 2.625rem;
    height: 2.625rem;
  }

  &__text {
    display: block;
    position: relative;
    margin-top: 1.25rem;
  }

  &.steps--column {
    &__list {
      text-align: left;
      font-size: 16px;
      width: 100%;
      margin-inline: 0;

      &::before {
        display: none;
      }
    }

    &__item {
      display: block;
      max-width: 20rem;
      width: 100%;
      margin: 0 auto 1.5rem;
    }
  }
}
