@use "../base/" as *;

.steps {
  position: relative;
  display: block;
  margin-top: 3rem;

  &__list {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: clamp(2rem, 5vw, 8.625rem);
    align-items: center;
    justify-content: flex-start;

    width: max-content;
    margin-inline: auto;

    @include sm {
      flex-flow: row wrap;
      align-items: flex-start;
      justify-content: center;

      width: 100%;
      margin-inline: auto;
    }

    @include xl {
      flex-direction: row;
      align-items: flex-start;
      width: max-content;
      margin-top: 5rem;
    }

    &::before {
      @include xl {
        pointer-events: none;
        content: "";

        position: absolute;
        z-index: 0;
        top: 3.125rem;
        right: calc(3.125rem + 1.5rem);
        left: calc(3.125rem + 1.5rem);

        height: 0.4rem;

        background-image: radial-gradient(
          circle,
          #cfcfcf 0.2rem,
          transparent 0.2rem
        );
        background-repeat: repeat-x;
        background-position: center;
        background-size: 1.3rem 0.4rem;
      }
    }
  }

  &__item {
    position: relative;
    z-index: 1;

    display: block;

    min-width: 7rem;
    max-width: 11.8rem;
  }

  &__visual {
    pointer-events: none;
    user-select: none;
    position: relative;
    display: block;
  }

  &__circle {
    position: relative;

    display: block;

    width: 6.25rem;
    height: 6.25rem;
    margin: auto;
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: block;

    width: 2.625rem;
    height: 2.625rem;
  }

  &__text {
    position: relative;
    display: block;
    margin-top: 1.25rem;
  }
}
