html {
  font-size: 12px;
  line-height: 12px;
}

body {
  font-family: Lato, Raleway, Arial, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  color: #000;
  text-rendering: optimizelegibility;
}

.header__logo {
  font-family: Raleway, Lato, Arial, sans-serif;
}

ul,
ol,
a,
h1,
.h1,
h2,
.h2,
h3,
.h3,
p {
  font-family: Lato, Raleway, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1.3rem;
}

@media (width >= 768px) {
  html {
    font-size: 14px;
    line-height: 14px;
  }

  ul,
  ol,
  a,
  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  p {
    font-size: 1rem;
    line-height: 1.1rem;
  }
}

@media (width >= 1024px) {
  html {
    font-size: 16px;
    line-height: 1rem;
  }
}

@media (width >= 2100px) {
  html {
    font-size: clamp(16px, calc(16px + (20 * ((100vw - 2100px) / 1920))), 32px);
    line-height: 1rem;
  }
}
