$color-btn-primary-bg-default: #3e9cdc;
$color-btn-primary-bg-hover: #44aaee;
$color-btn-primary-bg-active: #3990ca;
$color-btn-primary-bg-disabled: #c4e0f2;

$color-btn-primary-text-default: #ffffff;
$color-btn-primary-text-hover: #ffffff;
$color-btn-primary-text-active: #ffffff;
$color-btn-primary-text-disabled: #ffffff;

$color-btn-secondary-bg-default: rgba(255, 255, 255, 0.8);
$color-btn-secondary-bg-hover: #ffffff;
$color-btn-secondary-bg-active: #eaeaea;
$color-btn-secondary-bg-disabled: #b7b7b7;

$color-btn-secondary-text-default: #2a2b30;
$color-btn-secondary-text-hover: #2a2b30;
$color-btn-secondary-text-active: #2a2b30;
$color-btn-secondary-text-disabled: #2a2b30;

$color-accent: #3e9cdc;
$color-white: #ffffff;
$color-black: #000000;
