$color-btn-primary-bg-default: #3e9cdc;
$color-btn-primary-bg-hover: #3e9cdc;
$color-btn-primary-bg-active: #3e9cdc;
$color-btn-primary-bg-disabled: #3e9cdc;

$color-btn-primary-text-default: #ffffff;
$color-btn-primary-text-hover: #ffffff;
$color-btn-primary-text-active: #ffffff;
$color-btn-primary-text-disabled: #ffffff;

$color-btn-secondary-bg-default: #ffffff;
$color-btn-secondary-bg-hover: #ffffff;
$color-btn-secondary-bg-active: #ffffff;
$color-btn-secondary-bg-disabled: #ffffff;

$color-btn-secondary-text-default: #2a2b30;
$color-btn-secondary-text-hover: #2a2b30;
$color-btn-secondary-text-active: #2a2b30;
$color-btn-secondary-text-disabled: #2a2b30;

$color-accent: #3e9cdc;
$color-white: #ffffff;
$color-black: #000000;
$color-fading: #c3c3c3;
