$color-btn-primary-bg-default: #3e9cdc;
$color-btn-primary-bg-hover: #4ae;
$color-btn-primary-bg-active: #3990ca;
$color-btn-primary-bg-disabled: #c4e0f2;
$color-btn-primary-text-default: #fff;
$color-btn-primary-text-hover: #fff;
$color-btn-primary-text-active: #fff;
$color-btn-primary-text-disabled: #fff;
$color-btn-secondary-bg-default: rgb(255 255 255 / 80%);
$color-btn-secondary-bg-hover: #fff;
$color-btn-secondary-bg-active: #eaeaea;
$color-btn-secondary-bg-disabled: #b7b7b7;
$color-btn-secondary-text-default: #2a2b30;
$color-btn-secondary-text-hover: #2a2b30;
$color-btn-secondary-text-active: #2a2b30;
$color-btn-secondary-text-disabled: #2a2b30;
$color-accent: #3e9cdc;
$color-white: #fff;
$color-black: #000;
